pandas==2.2.3
requests==2.32.3
urllib3==2.2.3
beautifulsoup4==4.12.3
lxml==5.3.0
opencv-python==4.10.0.84
numpy==1.26.4
torch==2.5.1
torchvision==0.20.1
matplotlib==3.9.2
tqdm==4.66.5
torchmetrics==1.6.0
